<!-- copyrights -->
<div class="copyrights container-fluid page-scroll">
	<div clas="container">
		<a class="footer-logo" href="{% if page.page_name =='thank_you' %}index.html{% endif %}#landing">
			<img class="img-responsive" src="assets/img/logo-light-copy.png" alt="Logo">
		</a>
		<ul class="list-inline footer-list">
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
		</ul>
	</div>
</div>
