.one-page-nav-scrolling{background: #fff;}
.one-page-header.architecture-nav .navbar-nav > li > a {color: black;}
.one-page-header.top-nav-collapse {box-shadow: 0 0 5px rgb(169, 0, 0);}
.arch-service-1 { background: none;}
.icon-bar{color: black;}

img.width100{width: 100% }
#landing{padding-top: 145px;}
img.tiny-logo{
	width: 45px;
}
.awards-desc img.dh{
	margin-top: 35px;
}
.bg-color-com { background: rgb(169, 0, 0); }
.fa{color: #c74645;}
.navbar-brand img.default-logo{
	height:150px;
	width: auto;
	margin: -4px 0 auto;
}
.architecture-nav.navbar .navbar-nav {margin: 0 0 0 0;}
.one-page-header.architecture-nav .navbar-nav > li > a {
	font-size: 14px;
}
/* When .top-nav-collapse is added */
.architecture-nav.top-nav-collapse .navbar-brand, .architecture-nav.top-nav-collapse .navbar-nav > li > a, .architecture-nav.top-nav-collapse .navbar-nav > li > a:before {
	font-size: 11px;
}
.architecture-nav.top-nav-collapse.navbar .navbar-nav {
	margin: 0;
}
.navbar-brand img.shrink-logo{
	height: 50px;
	width: auto;
	margin-left: 100px;
	margin-top: -8px;
}
@media (min-width : 320px) {
	.navbar.architecture-nav > .container .navbar-brand.logo-left img {
		margin-left: 0px;
		margin-top: 1px;
	}
}
@media (min-width: 992px){
	.architecture-nav.navbar .navbar-nav {margin: 49px 0;}
	.g-mt-70-flex { margin-top: 70px; }
	.navbar.architecture-nav > .container .navbar-brand.logo-left img { width:140;}
	div.padding-top-90px{ padding-top: 90px;}
	.navbar-brand img.default-logo{ margin-left: -50px;}
}
@media (min-width: 1200px){
	.navbar-brand img.default-logo{ margin-left: auto;}
}
.service-section .owl-carousel-v4 .owl-slider-v4 .item img {
  width: auto;
  max-height: 500px;
}
.content-md {
  padding-top: 20px;
  padding-bottom: 20px;
}
h2.h2.g-mb-30.e-board{
	padding-bottom: 15px;
}
